[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-extensions = "*"
dj-database-url = "*"

[dev-packages]
"flake8" = "*"
ipython = "*"

[requires]
python_version = "3.6"
