{% extends "base.html" %}
{% load static %}

{% block title %}
  Penn Course Review - {{title}}
{% endblock %}

{% block css %}
  <link rel="stylesheet" type="text/css" href="{% static "css/jquery.dataTables.min.css" %}" />
  <link rel="stylesheet" type="text/css" href="{% static "css/select.dataTables.min.css" %}" />
  <link rel="stylesheet" type="text/css" href="{% static "css/buttons.dataTables.min.css" %}" />
  <link rel="stylesheet" type="text/css" href="{% static "css/reviews.css" %}" />
{% endblock %}

{% block js %}
  <script src="{% static "js/jquery.dataTables.min.js" %}"></script>
  <script src="{% static "js/dataTables.select.min.js" %}"></script>
  <script src="{% static "js/dataTables.buttons.min.js" %}"></script>
  <script src="{% static "js/chart.min.js" %}"></script>
  <script src="{% static "js/reviews.js" %}"></script>
{% endblock %}

{% block banner-content %}
  <div id="banner-info" data-type="{{ type }}">
  </div>
  <div id="row-select-placeholder">
      <object type="image/svg+xml" data="{% static 'image/selectrow.svg' %}">
          <img src="{% static 'image/selectrow.svg' %}" />
      </object>
      <div id="row-select-text">Select a few rows to begin comparing courses.</div>
  </div>
  <div id="row-select-chart-container">
      <canvas id="row-select-chart"></canvas>
      <button id="chart-clear" class="btn btn-action">Clear Chart</button>
  </div>
{% endblock %}

{% block content-content %}
<div class="box clearfix">
</div>
{% endblock %}
