<!-- TODO: prettify -->
{% comment "Optional note" %}
{% if reviews|length > 0 %}
{% endcomment %}
<div id="banner-score">
    <div class="scoredesc">
        <p class="title">Average</p>
        <p class="subtitle">8 sections</p>
    </div>
    <div class="scoreboxrow">
      {% comment "Optional note" %}
        {% with avg=reviews|average:"rCourseQuality" %}
        {% endcomment %}
        <div class="scorebox course">
            <p class="num">4.0</p>
            <p class="desc">Course</p>
        </div>
        {% comment "Optional note" %}
        {% endwith %}
        {% with avg=reviews|average:"rInstructorQuality" %}
        {% endcomment %}
        <div class="scorebox instructor">
            <p class="num">4.0</p>
            <p class="desc">Instructor</p>
        </div>
        {% comment "Optional note" %}
        {% endwith %}
        {% with avg=reviews|average:"rDifficulty" %}
        {% endcomment %}
        <div class="scorebox difficulty">
            <p class="num">4.0</p>
            <p class="desc">Difficulty</p>
        </div>
        {% comment "Optional note" %}
        {% endwith %}
        {% endcomment %}
    </div>
    <div class="scoredesc">
        <p class="title">Recent</p>
        <p class="subtitle">some recent courses</p>
    </div>
    <div class="scoreboxrow">
      {% comment "Optional note" %}
        {% with recents=reviews|recent %}
        {% with score=recents|average:"rCourseQuality" %}
          {% endcomment %}
        <div class="scorebox course">
            <p class="num">4.0</p>
            <p class="desc">Course</p>
        </div>
        {% comment "Optional note" %}
        {% endwith %}

        {% with score=recents|average:"rInstructorQuality" %}
        {% endcomment %}
        <div class="scorebox instructor">
            <p class="num">4.0</p>
            <p class="desc">Instructor</p>
        </div>
          {% comment "Optional note" %}
        {% endwith %}

        {% with score=recents|average:"rDifficulty" %}
        {% endcomment %}
        <div class="scorebox difficulty">
            <p class="num">4.0</p>
            <p class="desc">Difficulty</p>
        </div>
          {% comment "Optional note" %}
        {% endwith %}
        {% endwith %}
        {% endcomment %}
    </div>
</div>
  {% comment "Optional note" %}
{% endif %}
  {% endcomment %}
