{% load static %}
<!doctype html>
<html lang="en">
    <head>
        <meta http-eqt uiv="Content-Type" content="text/html; charset=utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        <title>{% block title %}Penn Course Review{% endblock %}</title>

        <meta name="description" content="Penn Course Review is a tool for students at the University of Pennsylvania to search for the best professor and classes on campus. ">
        <link href="apple-touch-icon-57x57.png" sizes="57x57" rel="{% static "image/apple-touch-icon-57x57-precomposed.png" %}">
        <link href="apple-touch-icon-72x72.png" sizes="72x72" rel="{% static "image/apple-touch-icon-72x72-precomposed.png" %}">
        <link href="apple-touch-icon-114x114.png" sizes="114x114" rel="{% static "image/apple-touch-icon-114x114-precomposed.png" %}">
        <link href="apple-touch-icon-144x144.png" sizes="144x144" rel="{% static "image/apple-touch-icon-144x144-precomposed.png" %}">
        <link href="apple-touch-icon-76x76.png" sizes="76x76" rel="{% static "image/apple-touch-icon-76x76-precomposed.png" %}">
        <link href="apple-touch-icon-60x60.png" sizes="60x60" rel="{% static "image/apple-touch-icon-60x60-precomposed.png" %}">
        <link href="apple-touch-icon-152x152.png" sizes="152x152" rel="{% static "image/apple-touch-icon-152x152-precomposed.png" %}">
        <link href="apple-touch-icon-120x120.png" sizes="120x120" rel="{% static "image/apple-touch-icon-120x120-precomposed.png" %}">
    </head>
    <body>
    </body>
</html>
